#app {
  &__container {
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
  }

  &__loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    height: 100%;
  }
}